/* You can add global styles to this file, and also import other style files */
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar {
        width: 0.4rem;
        height: 0.4rem;
        padding: 0px;
        margin: 0px;
    }
    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-slate-300 dark:bg-slate-700 rounded-full;
    }
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-300 dark:bg-slate-700;
    }
    ::-webkit-scrollbar-corner {
        @apply bg-transparent
    }

    .hidden-scrollbar {
        overflow-y: scroll;
        overflow-x: auto;
        -webkit-background-clip: text;
        transition: background-color .5s;
        @apply bg-slate-50 dark:bg-slate-800
    }
    .hidden-scrollbar:hover {
        @apply bg-slate-100 dark:bg-slate-900
    }
    .hidden-scrollbar::-webkit-scrollbar-thumb {
        background-color: inherit;
    }

    body {
        @apply font-roboto
    }

    strong {
        @apply font-bold text-4xl
    }
    small {
        @apply text-xs
    }
    h1 {
        @apply font-bold text-3xl
    }
    h2 {
        @apply font-semibold text-2xl
    }
    h3 {
        @apply font-semibold text-xl
    }
    h4 {
        @apply font-semibold text-lg
    }

    /* For flat uicons */
    i:before {
        line-height: unset !important;
        vertical-align: -12%;
    }

    /* For table */
    
    th {
        @apply text-sm border-b p-2 text-slate-500 border-b-slate-200 dark:border-b-slate-600
    }
    tr td:first-child {
        @apply text-start
    }
    td {
        @apply text-sm text-center pt-4 text-slate-400 dark:text-slate-500
    }
    
}

@layer components {
    .btn-dark {
        @apply rounded-lg bg-slate-700 text-stone-200 active:bg-slate-800 disabled:bg-slate-800 disabled:text-gray-500 dark:bg-slate-600 dark:text-gray-200 dark:active:bg-slate-700 dark:disabled:bg-slate-700 dark:disabled:text-gray-500
    }

    .btn-delete {
        @apply px-3 py-2 rounded-lg transition-all hover:opacity-90 shadow-tiny bg-red-500 text-white active:bg-red-600 dark:bg-red-600 dark:text-gray-200 dark:active:bg-red-700
    }

    .btn-update {
        @apply px-3 py-2 rounded-lg transition-all hover:opacity-90 shadow-tiny bg-cyan-500 text-white active:bg-cyan-600 dark:bg-cyan-600 dark:text-gray-200 dark:active:bg-cyan-700}

    .input-dark {
        @apply rounded-lg border text-slate-700 bg-white placeholder:text-slate-500 border-slate-300 dark:text-slate-400 dark:placeholder:text-slate-600 dark:bg-gray-800 dark:border-slate-600
    }
}