<div class="flex justify-between items-center gap-3">
    <button type="button" class="py-1 px-2 shadow-tiny btn-light" (click)="navigate('create')">
        <span class="text-sm">Screen 1</span>
    </button>
    <button type="button" class="py-1 px-2 shadow-tiny btn-light" (click)="navigate('view-list')">
        <span class="text-sm">Screen 2</span>
    </button>
    <button type="button" class="py-1 px-2 shadow-tiny btn-light" (click)="navigate('update')">
        <span class="text-sm">Screen 3</span>
    </button>
</div>